body, html{
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("images/bg-image.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  position: relative;
   text-align: center;
}

.navbar2{
  color: green;
  list-style: none;
  font-size: 20px;
  text-align: justify;
}

.links{
  color: black;
}

.list{
  color: green;
  text-align: justify;
  margin-left: 40px;
  margin-right: 40px;
}

.bg-color{
  background-color: #1C5253;
}

.WelcomeText {
	padding-top: 100px;
	padding-left: 50px;
	font-size: 60px;
  color: white;
}

.welcomePar{
  color: white;
  text-align: justify;
  margin-left: 40px;
  margin-right: 40px;
}

/*page 2*/

.hydrotext{
  text-align: justify;
  margin-left: 70px;
  margin-right: 70px;
  font-size: 18px;
}
.Hydronics-sec1{
  background-color: #F3FFC6;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  position: relative;
}
.Hydronics-sec2{
  background-color: #C3EB78;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  position: relative;
}
.Hydronics-sec3{
  background-color: #b8d433;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  position: relative;
}

.Hydropics{
  max-width: 100%;
  height: auto;
  max-height: 200px
}
/*.Hydropics {
  width: auto;
  height: auto;
  max-height: 300px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}*/

/*.Hydropics {
  width: 100%;
	height: auto;
  max-width: 300px;
	max-height: 300px;
  margin-left: auto;
  margin-right: auto;
	object-fit: cover;
}
*/

/*page 3*/
.kratky-h{
  color: white;
}

.kratkytext{
  text-align: justify;
  margin-left: 70px;
  margin-right: 70px;
  font-size: 18px;
  color: white;
}

.dyiKratky{
  max-width: 100%;
  height: auto;
  max-height: 500px;
}
.dyi-sec1{
  background-color: #206a38;
  width: 100%;
  height: 100%;
}
.dyi-sec2{
  background-color: #C3EB78;
  width: 100%;
  height: 100%
}
.dyi-sec3{
  background-color: #b8d433;
  width: 100%;
  height: 100%
}

* {box-sizing: border-box}

/* Full-width input fields */
  input[type=text], input[type=password] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
}

input[type=text]:focus, input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}

hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}

/* Set a style for all buttons */
button {
  background-color: #04AA6D;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}

button:hover {
  opacity:1;
}

/* Extra styles for the cancel button */
.cancelbtn {
  padding: 14px 20px;
  background-color: #f44336;
}

/* Float cancel and signup buttons and add an equal width */
.cancelbtn, .signupbtn {
  float: left;
  width: 50%;
}

/* Add padding to container elements */
.container {
  padding: 16px;
}

/* Clear floats */
.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

/* Change styles for cancel button and signup button on extra small screens */
@media screen and (max-width: 300px) {
  .cancelbtn, .signupbtn {
    width: 100%;
  }
}


/* ==============================================================
  ===============================================================
page 4*/
.AboutMe {
  width: 100%;
	height: 100%;
	max-width: 300px;
	max-height: 300px;
	border-radius: 150px;
	object-fit: cover;
	object-position: 50% 0%
}

#Features{
	margin-bottom: 100px;
}

.feature-section{
	height: 50vh;
	text-align: center;
}

.feature-image-1{
	background-image: url("images/headshot1.JPG");
  background-size: cover;
  max-width: 250px;
  max-height: 500px;
}
.feature-image-2{
	background-image: url("images/UWlogo.png");
  background-size: cover;
  max-width: 350px;
  max-height: 3500px;
}

.feat-text{
  text-align: justify;
  margin-left: 40px;
  margin-right: 40px;
  margin-top: 40px;
}

.Footer{
	position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #1C5253;
  color: white;
  text-align: center;
}




/*Questions
1. how do i change the size of my background image?
*/
