body, html {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("images/bg-image.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  position: relative;
}

.bg-color{
  background-color:#1F0318
}


.WelcomeText {
	padding-top: 100px;
	padding-left: 50px;
	font-size: 60px;
  color: white;
}



.Footer{
	background-color: darkseagreen;
	height: 10vh;
	width: 100%;
}
/*Questions
1. how do i change the size of my background image?
*/
